#backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    backdrop-filter: brightness(.5);
    left: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#exit-btn {
    max-width: 50px;
    background-color: rgba(255, 255, 255, .8);
}

#exit-btn input {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
}


#main-container {
    border: 1px solid black;
    position: absolute;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    height: auto;
    justify-content: center;
    align-content: center;
}

#left-side {
    padding: 5px;
    background: #697565;
    color: white;
}

#right-side {
    background: #ecdfcc;
    /* width: 60%; */
    padding: 5px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;

}

#right-side p {
    /* width: 190px; */
}

#right-side form {
    display: flex;
    flex-direction: column;
    /* width: 190px; */
}